extends ./layout.jade
block pagetitle
  title #{title}

block content
  section.container.lists.margin__extra--bottom
    h1 My Lists
    if lists.length > 0
      ul.movie__lists
      each list in lists
        li.movie__list
          a(href='/lists/#{list.alias}')= list.title
    else
      p Looks like you don't have any lists, why not make one?
    +addList()(class='no__margin--left')
          
  +movieSearch()