extends ./layout.jade

block content
  section.container.login
    h1 Login to Watch List
    p We try not to make your life harder. Use twitter or google to sign in.
    a.button(href='/login/twitter') 
      i.fa.fa-twitter  Twitter
    a.button(href='/login/google') 
      i.fa.fa-google  Google

  